body{
  background-color:white;
}

.lead{
 color:blue;
 font-weight: bold !important;
 font-size: 1rem;

}

.nav-item:hover{ 
  background-color:aliceblue;
  color: black;
  
 } 

 .nav-item{ 
    font-weight: bolder;
    font-size: larger;

 }

 .text-body-emphasis{
    color:blue !important;
 }

 .nav-link{
  color: blue }

 .contact{
    /*background-color:lightgray;*/
    font-size:bolder;
    color: rgb(110, 110, 12);
 }

 .carousel-inner img{
  border-radius: 5%;

}

.hero2{
    font-weight: 500 !important;
}

.hero{
    width: 100%;
  height: auto;
}


@media (max-width: 768px) {
    .carousel-inner img{
        height: 20rem;
        border-radius: 10%;
    }
    
    .hero{
            height:20rem;
            /* width:20rem; */
            text-align: center;
            margin-top: 0;

    }
}
    
  
  @media (max-width: 480px){
   .hero{
    height:10rem;
    /* width:20rem; */
    text-align: center;
    margin-top: 0;
   }
}


   
    

   
  .scrolling-text-container {
    width: 100%;
    overflow: hidden;
    background-color: blue;
    color: whitesmoke;
    font-weight: bolder;
  }
  
  .scrolling-text {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 30s linear infinite;
    font-weight: bold;
    font-size: large;
  }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }


  
  
